<!DOCTYPE html>
<html lang="tk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gadymy miras - Travel & Visa Agency</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <!-- HEADER / MENU -->
    <header class="header">
        <div class="container">
            <div class="logo">
                <h1>Gadymy_Miras</h1>
            </div>
            <nav class="nav">
                <ul class="nav-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/tours">Tours</a></li>
                    <!-- <li class="dropdown">
                        <a href="tours">Tours <i class="fas fa-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="tours#national-tours">National Tours</a></li>
                            <li><a href="tours#popular-tours">Popular Tours</a></li>
                            <li><a href="tours#other-tours">Other Tours</a></li>
                        </ul>
                    </li> -->
                        <li class="dropdown">
                        <a href="/tours">Gallery<i class="fas fa-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/gallery">Photos</a></li>
                            <li><a href="/videos">Videos</a></li>
                        </ul>
                    </li>
                    <li><a href="/#feedback">Feedback</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
        </div>
    </header>