<%- include('partials/header'); -%>

    <!-- ABOUT US SECTION -->
    <section id="about" class="about-section">
        <div class="container">
            <h2 class="section-title">About Us</h2>
            <div class="about-content">
                <div class="about-text">
                    <h3>Ancient Heritage</h3>
                    <p><strong>Goal:</strong> We work to provide our customers with the best travel and visa services. We strive to showcase the beauty of Turkmenistan and the world.
                    </p>
                    <p><strong>Mission:</strong> Provide comprehensive services to help our customers achieve their travel goals and ensure the comfort and satisfaction of each customer.</p>
                    <h4>Why choose us?</h4>
                    <ul class="why-choose-us">
                        <li><i class="fas fa-check-circle"></i> Professional and experienced team</li>
                        <li><i class="fas fa-check-circle"></i> Fast and convenient service</li>
                        <li><i class="fas fa-check-circle"></i> Affordable prices</li>
                        <li><i class="fas fa-check-circle"></i> Full service and support</li>
                        <li><i class="fas fa-check-circle"></i> Service in English, Russian and Turkmen</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

<%- include('partials/footer'); -%>