<%- include('partials/header'); -%>
    <!-- GALLERY SECTION -->
    <section id="gallery" class="gallery-section">
        <div class="container">
            <h2 class="section-title">Photos</h2>
            <div class="gallery-grid">
                <% if (photos && photos.length) { %>
                    <% photos.forEach(function(photo) { %>
                        <div class="gallery-item">
                            <img src="<%= photo.gallery_url %>" alt="Gallery photo">
                        </div>
                        <% }) %>
                            <% } else { %>
                                <p style="padding: 1rem 0; text-align:center;">Suratlar entek goşulmady.</p>
                                <% } %>
            </div>
        </div>
    </section>
    <%- include('partials/footer'); -%>