 <footer class="admin-footer">
                <div class="admin-footer-copy">
                    © 2026 Gadymy Miras. Ähli hukuklar goragly.
                </div>
            </footer>
        </div>
    </div>
</body>
</html>

